<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick='window.location.href = "create";'> Create </button>
    <button onclick='window.location.href = "self";'> Self </button>
    <a href="https://github.com/Mortis66666/jungle" target="_blank">
        <button>Source code</button>
    </a>
    <input type = "text" id="input" placeholder = "Join Code">
    <button onclick = 'if (document.getElementById("input").value) {window.location.href = "game/"+document.getElementById("input").value;}'> Join </button>
</body>
</html>