<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/Doushouqi-elephant.svg">

    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="box-1">
        <div style="height: 25vh"></div>
        <div class="div-break"></div>
        <a href="/play"><button class="btn">Play</button></a>        
        

        <div class="div-break"></div>
        <a href="/settings"><button class="btn">Settings</button></a>
        <div class="div-break"></div>
        <a href="/rules"><button class="btn">How to play</button></a>
        <div style="height: 20vh" class="div-break"></div>
        <a href="https://github.com/Mortis66666/jungle" target="_blank">
            <button class="btn" id="src">Source code From GitHub</button>
        </a>
    </div>
</body>
</html>