<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/styles/home.css">
    <script src="/scripts/home.js"></script>
</head>
<body>
    <div class="bar"></div>
    <div class="box-1">
        <div style="height: 25vh"></div>
        <div class="div-break"></div>
        <input type = "text" id="input" class="joincode" placeholder = "Join Code">
        
        <div class="div-break"></div>
        <button class="btn" onclick = 'if (document.getElementById("input").value) {window.location.href = "/game/"+document.getElementById("input").value;}'> Join </button>
        <div class="div-break"></div>
        <form id="id" method="POST" action="" >
            <input type="hidden" id="id" value="">
            <button class="btn" onclick="create()"> Create new game </button>
        </form>
        <div class="div-break"></div>
        <button class="btn" onclick='window.location.href = "self";'> Play with yourself </button>
        <div style="height: 20vh" class="div-break"></div>
        <a href="https://github.com/Mortis66666/jungle" target="_blank">
            <button class="btn" id="src">Source code From GitHub</button>
        </a>
    </div>
</body>
</html>