<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungle game rules</title>

    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/Doushouqi-elephant.svg">
</head>
<body>
    <h2>Overview</h2>
    <p>
        The Jungle gameboard represents a jungle terrain with dens, traps "set" around dens, and rivers. Each player controls eight game pieces representing different animals of various rank. Stronger-ranked animals can capture ("eat") animals of weaker or equal rank. The player who is first to maneuver any one of their pieces into the opponent's den wins the game. An alternative way to win is to capture all the opponent's pieces.
    </p>

    <br>

    <h2>Board</h2>

    <p>
        The Jungle gameboard consists of seven columns and nine rows of squares (7x9 rectangle = 63 squares). Pieces move on the squares as in <a href="https://en.wikipedia.org/wiki/Chess">chess</a>, not on the grid lines as in <a href="https://en.wikipedia.org/wiki/Xiangqi">xiangqi</a>.
    </p>

    <h3>There are several special squares and areas of the Jungle board:</h3>

    <ul>
        <li>
            Each player has one den (Chinese: 獸穴; pinyin: shòuxuè; literal translation: 'lair') square located in the centre of their first row of the board and labeled as such in Chinese.
        </li>
        <li>
            Three traps (Chinese: 陷阱; pinyin: xiànjǐng; literal translation: 'snare') border each den, to each side and in front. These are also labeled in Chinese.
        </li>
        <li>
            Two water areas or rivers are located in the centre of the board, each comprising 6 squares in a 2x3 rectangle. There are single columns of ordinary land squares on the edges of the board, and down the middle between the rivers.
        </li>
    </ul>

    <h5>Den highlighted in blue</h5>
    <img src="/imgs/den.png" alt="Den">

    <br>

    <h5>Traps highlighted in blue</h5>
    <img src="/imgs/traps.png" alt="Traps">
    
    <h5>Initial setup of a jungle board</h5>
    <img src="/imgs/board.png" alt="Board">

    <br>

    <h2>Pieces</h2>

    <p>
        Each player has eight game pieces representing different animals, each with a different rank, and in their own colour (blue versus red). The animal ranking, from strongest to weakest, is:
    </p>


    <table bgcolor="black">
        <tr bgcolor="grey">
            <th>Rank</th>
            <th>Piece</th>
            <th></th>
        </tr>
        <tr bgcolor="white">
            <td>8</td>
            <td>Elephant</td>
            <td>Chinese: 象; pinyin: xiàng</td>
        </tr>
        <tr bgcolor="white">
            <td>7</td>
            <td>Lion</td>
            <td>Chinese: 獅; pinyin: shī</td>
        </tr>
        <tr bgcolor="white">
            <td>6</td>
            <td>Tiger</td>
            <td>Chinese: 虎; pinyin: hǔ</td>
        </tr>
        <tr bgcolor="white">
            <td>5</td>
            <td>Leopard</td>
            <td>Chinese: 豹; pinyin: bào</td>
        </tr>
        <tr bgcolor="white">
            <td>4</td>
            <td>Wolf</td>
            <td>Chinese: 狼; pinyin: láng</td>
        </tr>
        <tr bgcolor="white">
            <td>3</td>
            <td>Dog</td>
            <td>Chinese: 狗; pinyin: gǒu</td>
        </tr>
        <tr bgcolor="white">
            <td>2</td>
            <td>Cat</td>
            <td>Chinese: 貓; pinyin: māo</td>
        </tr>
        <tr bgcolor="white">
            <td>1</td>
            <td>Rat</td>
            <td>Chinese: 鼠; pinyin: shǔ</td>
        </tr>
    </table>

    <br>

    <h2>Rules</h2>

    <h3>Movement</h3>

    <p>
        Players alternate moves with red moving first. During their turn, a player must move. All pieces can move one square horizontally or vertically (not diagonally). Animals of either side can move into and out of any trap square.
    </p>

    <p>There are special rules related to the water squares:</p>

    <ul>
        <li>
            The <i>rat</i> is the only animal that may go onto a water square.
        </li>
        <li>
            The <i>lion</i> and <i>tiger</i> can jump over a river vertically and horizontally. They jump from a square on one edge of the river to the next non-water square on the other side.
        </li>
        <li>
            If that square contains an enemy piece of equal or lower rank, the <i>lion</i> or <i>tiger</i> capture it as part of their jump.
        </li>
    </ul>

    <h3>Capturing</h3>

    <p>
        Animals capture opponent pieces by "killing/eating" them (the attacking piece replaces the captured piece on its square; the captured piece is removed from the game). A piece can capture any enemy piece that has the same or lower rank, with the following exceptions:
    </p>

    <ul>
        <li>
            The rat can "kill" (capture) an elephant, but only from a land square, not from a water square. Many published versions of the game say the rat kills the elephant by "running into its ear and gnawing into its brain".
        </li>
        <li>
            A rat in the water is invulnerable to capture by any piece on land.
        </li>
        <li>
            A piece that enters one of the trap squares is reduced in rank to 0. Thus the trapped piece may be captured by the defending side with any piece, regardless of rank. A trapped piece has its normal rank restored when it exits the trap square.
        </li>
    </ul>
</body>
</html>