<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>斗兽棋</title>

    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/Doushouqi-elephant.svg">

    <link rel="stylesheet" href="styles/game.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"></script>
    <script src="scripts/self.js"></script>
    <script src="scripts/piece.js"></script>
</head>
<body>
    <h1></h1>
    <div class="dialog1" id="dialog1">
        <p id="dialog-message"></p>
        <span id="dialog-close">✖</span>
    </div>
    <div class="board" id="board"></div>
</body>
</html>