<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>斗兽棋</title>

    <link rel="stylesheet" href="styles/game.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"></script>
    <script src="scripts/self.js"></script>
    <script src="scripts/piece.js"></script>
</head>
<scirpt>
</scirpt>
<body>
    <h1></h1>
    <div id="dialog" class="dialog">
        <button onclick="document.getElementById('dialog').style.display ='none';document.getElementById('board').style.display = 'block';" id="close-dialog"> Close </button>
    
        <div id="winning-html">
            <h1> Hi Won! </h1>
        </div>
    </div>
        
    <div id="board"></div>
</body>
</html>