<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>

    <script src="/scripts/settings.js" defer></script>
</head>
<body>
    <label for="piece-display">Piece display:</label>
    <select name="piece-display" id="piece-display">
        <option value="0">Chinese characters</option>
        <option value="1">Animal icon</option>
    </select>
    <br>
    <button id="save" onclick="save()">Save</button>
</body>
</html>