:root {
    --length: 75px;
    --width: 7;
    --height: 9;
}
.dialog {
    margin: 0 auto;
    width: 500px;
    height: 85vh;
    background-color: magenta;
    border-radius: 10px;
    
    padding: 10px;
    display: none;
}

.dialog button {
    float: right;
}

#board {
    
    border: 5px solid black;
    margin: 0 auto;
    display: block;
    



    width: calc(var(--length) * var(--width));
    height: calc(var(--length) * var(--height));
    /*
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
   
}


.hide {
    display: none;
}
